.gallery-container {
  width: 100%;
  padding: 60px 0;
  background: #fff;
  font-family: 'poppins';
}

.gallery-heading {
  padding: 0 100px;
  background: #fff;
}

.gallery-title {
  font-size: 60px;
  font-weight: 600;
  color: #a40000;
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: -20px;
}

.p {
  font-size: 25px;
  font-family: 'Poppins';
  font-weight: 500;
  margin-bottom: 0px;
}

.gallery-title .line {
  flex: 1;
  height: 4px;
  background: #c66c75;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
}

.gallery-card {
  background: white;
  border-radius: 10px;
  border: 1px solid rgb(238, 234, 234);
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 400px;
  margin: auto;  
}

.gallery-card:hover {
  transform: translateY(-6px);
}

.gallery-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.gallery-card p {
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #111;
  font-family: 'Poppins';
  line-height: 1.4;
}
.p{
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .gallery-heading {
    padding: 0 60px;
  }

  .gallery-grid {
    padding: 40px 60px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .gallery-title {
    font-size: 45px;
    gap: 15px;
  }

  .p {
    font-size: 20px;
  }

  .gallery-grid {
    padding: 40px 40px;
    gap: 25px;
  }

  .gallery-card img {
    height: 220px;
  }
}
@media (max-width: 768px) {
  .gallery-heading {
    padding: 0 25px;
  }

  .gallery-title {
    font-size: 38px;
    gap: 12px;
  }

  .p {
    font-size: 18px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    padding: 30px 25px;
    gap: 20px;
  }

  .gallery-card img {
    height: 210px;
  }

  .gallery-card p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .gallery-title {
    font-size: 30px;
    gap: 10px;
  }

  .p {
    font-size: 16px;
  }

  .gallery-grid {
    padding: 25px 15px;
  }

  .gallery-card img {
    height: 180px;
  }

  .gallery-card p {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .gallery-title {
    font-size: 26px;
  }

  .gallery-card img {
    height: 160px;
  }

  .gallery-card p {
    font-size: 13px;
  }
}
